@model IEnumerable<FudbalskiTurnir.ViewModels.IgracViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="admin-fade-in">
<h1>Index</h1>
<p>
    <a asp-action="Create" class="btn btn-success mb-2 mt-2">Nov unos</a>
</p>
<div class="table-responsive">
    <table id="igraciTable" class="display compact cell-border">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Ime)</th>
                <th>@Html.DisplayNameFor(model => model.Prezime)</th>
                <th>Klub</th>
                <th>@Html.DisplayNameFor(model => model.Pozicija)</th>
                <th>@Html.DisplayNameFor(model => model.BrojDresa)</th>
                <th>@Html.DisplayNameFor(model => model.Nacionalnost)</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="control-icon"></td>
                    <td>@Html.DisplayFor(modelItem => item.Ime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prezime)</td>
                    <td>
                        @(string.IsNullOrEmpty(item.ImeKluba) ? "Slobodan igrač" : item.ImeKluba)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Pozicija)</td>
                    <td>@Html.DisplayFor(modelItem => item.BrojDresa)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nacionalnost)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OsobaID" class="btn btn-primary mb-2 mt-2">Izmenite</a>
                        <a asp-action="Details" asp-route-id="@item.OsobaID" class="btn btn-secondary mb-2 mt-2">Svi detalji</a>
                        <a asp-action="Delete" asp-route-id="@item.OsobaID" class="btn btn-danger">Obrišite</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#igraciTable').DataTable({
                "responsive": {
                    "details": {
                        "type": "column",
                        "target": 0,
                        "renderer": function (api, rowIdx, columns) {
                            var data = '<table class="table table-sm table-dark table-borderless mb-0">';
                            $.each(columns, function (i, col) {
                                if (i > 0) {
                                    data += '<tr>' +
                                            '<td class="text-white-50 fw-bold" style="width: 40%;">' + col.title + '</td>' +
                                            '<td class="text-white">' + col.data + '</td>' +
                                            '</tr>';
                                }
                            });
                            data += '</table>';
                            return data;
                        }
                    }
                },
                "columnDefs": [
                    {
                        "className": "control",
                        "orderable": false,
                        "targets": 0
                    }
                ],
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "lengthChange": true,
                "language": {
                    "search": "Filter:",
                    "info": "Prikazivanje _START_ do _END_ od ukupno _TOTAL_ entiteta",
                    "infoEmpty": "Prikazivanje 0 do 0 od 0 entiteta",
                    "infoFiltered": "(filtrirano od ukupno _MAX_ entiteta)",
                    "lengthMenu": "Prikažite _MENU_ entiteta",
                    "paginate": {
                        "first": "Prva",
                        "last": "Poslednja",
                        "next": "Sledeća",
                        "previous": "Prethodna"
                    },
                    "zeroRecords": "Nema pronađenih rezultata",
                    "emptyTable": "Nema podataka u tabeli"
                }
            });
        });
    </script>
}