@model FudbalskiTurnir.ViewModels.MenadzerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Svi detalji</h1>

<div>
    <h4>Menadžer</h4>

    @if (ViewBag.IsAdmin ?? false)
    {
        <h5 class="text-white-50 mt-3 mb-2">Sistemske informacije</h5>
        <dl class="row mb-3">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.OsobaID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.OsobaID)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.KlubID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.KlubID)
            </dd>
        </dl>
    }

    <h5 class="text-white-50 mt-3 mb-2">Lične informacije</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nacionalnost)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nacionalnost)
        </dd>
    </dl>

    <h5 class="text-white-50 mt-3 mb-2">Menadžerska karijera</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            Klub
        </dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.ImeKluba))
            {
                @Html.DisplayFor(model => model.ImeKluba)
            }
            else
            {
                <span class="text-muted">Klub nije povezan.</span>
            }
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GodineIskustva)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GodineIskustva)
        </dd>
    </dl>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
    @if (ViewBag.IsAdmin ?? false)
    {
        <a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Nazad na admin stranicu</a>
    }
</div>