@model FudbalskiTurnir.DAL.Models.Osoba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Osoba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalnost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UKlubuOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UKlubuOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UKlubuDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UKlubuDo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OsobaID" class="btn btn-primary mb-2 mt-2">Edit</a>
    <a asp-action="Index" class="btn btn-secondary mb-2 mt-2">Back to List</a>
</div>
