@model FudbalskiTurnir.ViewModels.KlubViewModel
@{
    ViewData["Title"] = "Obrišite";
}
<h1>Obrišite</h1>
<h3>Da li ste sigurni da želite da obrišete?</h3>
  <div>
    <h4>Klub</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImeKluba)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImeKluba)
        </dd>
        <dt class="col-sm-2">
            Turnir
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.NazivTurnira) && Model.NazivTurnira != "Nema dodeljenih turnira")
            {
                @Model.NazivTurnira
            }
            else
            {
                <span class="text-muted">Nije prijavljen na turnire.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stadion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stadion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GodinaOsnivanja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GodinaOsnivanja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RankingTima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RankingTima)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojIgraca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojIgraca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojOsvojenihTitula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojOsvojenihTitula)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="KlubID" />
        <input type="submit" value="Obrišite" class="btn btn-danger" />
        <div>
            <a asp-action="Index" class="btn btn-secondary mt-1">Nazad na listu</a>
        </div>

        <a asp-controller="Admin" asp-action="Index" class="btn btn-dark mt-1">Nazad na admin stranicu</a>
    </form>
</div>