@model FudbalskiTurnir.ViewModels.TurnirViewModel

@{
    ViewData["Title"] = "Detalji";
}

<div class="admin-fade-in">
<h1>Svi detalji</h1>

<div>
    <h4>Turnir</h4>

    @if (ViewBag.IsAdmin ?? false)
    {
        <h5 class="text-white-50 mt-3 mb-2">Sistemske informacije</h5>
        <dl class="row mb-3">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TurnirID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TurnirID)
            </dd>
        </dl>
    }

    <h5 class="text-white-50 mt-3 mb-2">Osnovne informacije</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NazivTurnira)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NazivTurnira)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TipTurnira)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TipTurnira)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
    </dl>

    <h5 class="text-white-50 mt-3 mb-2">Raspored</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DatumPocetka)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DatumPocetka)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DatumZavrsetka)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DatumZavrsetka)
        </dd>
    </dl>
</div>

<div class="mt-4">
    @if (ViewBag.IsAdmin ?? false)
    {
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Nazad na admin stranicu</a>
    }
    </div>
</div>