@model IEnumerable<FudbalskiTurnir.ViewModels.TurnirViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="admin-fade-in">
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-1 mt-1">Nov unos</a>
</p>
<table id="turniriTable" class="display compact cell-border">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.NazivTurnira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumZavrsetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipTurnira)
            </th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="control-icon"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivTurnira)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lokacija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumPocetka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumZavrsetka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipTurnira)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurnirID" class="btn btn-primary mb-2 mt-2">Izmenite</a>
                    <a asp-action="Details" asp-route-id="@item.TurnirID" class="btn btn-secondary mb-2 mt-2">Svi detalji</a>
                    <a asp-action="Delete" asp-route-id="@item.TurnirID" class="btn btn-danger">Obrišite</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

@section Scripts {
    <script>
        $('#turniriTable').DataTable({
            "responsive": {
                "details": {
                    "type": "column",
                    "target": 0,
                    "renderer": function (api, rowIdx, columns) {
                        var data = '<table class="table table-sm table-dark table-borderless mb-0">';
                        $.each(columns, function (i, col) {
                            if (i >= 0) {
                                data += '<tr>' +
                                        '<td class="text-white-50 fw-bold" style="width: 40%;">' + col.title + '</td>' +
                                        '<td class="text-white">' + col.data + '</td>' +
                                        '</tr>';
                            }
                        });
                        data += '</table>';
                        return data;
                    }
                }
            },
            "columnDefs": [
                {
                    "className": "control",
                    "orderable": false,
                    "targets": 0
                }
            ],
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "language": {
                "search": "Filter:",
                "info": "Prikazivanje _START_ do _END_ od _TOTAL_ turnira",
                "infoEmpty": "Prikazivanje 0 do 0 od 0 turnira",
                "infoFiltered": "(filtrirano od ukupno _MAX_ turnira)",
                "lengthMenu": "Prikažite _MENU_ turnira",
                "paginate": {
                    "first": "Prva",
                    "last": "Poslednja",
                    "next": "Sledeća",
                    "previous": "Prethodna"
                },
                "zeroRecords": "Nema rezultata",
                "emptyTable": "Nema podataka u tabeli"
            }
        });
    </script>
}