@model IEnumerable<FudbalskiTurnir.ViewModels.TurnirViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-1 mt-1">Create New</a>
</p>
<table id="turniriTable" class="display compact cell-border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazivTurnira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumZavrsetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipTurnira)
            </th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivTurnira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPocetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumZavrsetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipTurnira)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurnirID" class="btn btn-primary mb-2 mt-2">Edit</a>
                <a asp-action="Details" asp-route-id="@item.TurnirID" class="btn btn-secondary mb-2 mt-2">Details</a>
                <a asp-action="Delete" asp-route-id="@item.TurnirID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
        $('#turniriTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "language": {
                "search": "Filter:",
                "info": "Prikazivanje _START_ do _END_ od _TOTAL_ entiteta",
                "lengthMenu": "Prikažite _MENU_ entiteta",
                "paginate": {
                    "first": "Prva",
                    "last": "Poslednja",
                    "next": "Sledeća",
                    "previous": "Prethodna"
                },
                "zeroRecords": "Nema rezultata"
            }
        });
    </script>
}