@model FudbalskiTurnir.ViewModels.SponzorViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Obrišite</h1>
<h3>Da li ste sigurni da želite da obrišete?</h3>

<div>
    <h4>Sponzor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImeSponzora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImeSponzora)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VrednostSponzora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VrednostSponzora)
        </dd>
        <dt class="col-sm-2">Turnir</dt>
        <dd class="col-sm-10">
            @(!string.IsNullOrEmpty(Model.NazivTurnira) ? Model.NazivTurnira : "Nema povezanih turnira")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KontaktSponzora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KontaktSponzora)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SponzorID" />

        <input type="submit" value="Obrišite" class="btn btn-danger" />

        <div>
            <a asp-action="Index" class="btn btn-secondary mt-1">Nazad na stranicu</a>
        </div>

        <a asp-controller="Admin" asp-action="Index" class="btn btn-dark mt-1">Nazad na admin stranicu</a>
    </form>
</div>