@model FudbalskiTurnir.ViewModels.SponzorViewModel

@{
    ViewData["Title"] = "Detalji";
}

<div class="admin-fade-in">
<h1>Svi detalji</h1>

<div>
    <h4>Sponzor</h4>

    @if (ViewBag.IsAdmin)
    {
        <h5 class="text-white-50 mt-3 mb-2">Sistemske informacije</h5>
        <dl class="row mb-3">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SponzorID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SponzorID)
            </dd>
            <dt class="col-sm-3">TurnirID</dt>
            <dd class="col-sm-9">
                @(!string.IsNullOrEmpty(Model.NazivTurnira) ? Model.TurnirID : "Nema povezanih turnira")
            </dd>
        </dl>
    }

    <h5 class="text-white-50 mt-3 mb-2">Informacije od kompanije</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ImeSponzora)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImeSponzora)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.KontaktSponzora)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.KontaktSponzora)
        </dd>
    </dl>

    <h5 class="text-white-50 mt-3 mb-2">Sponzorski detalji</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">Turnir</dt>
        <dd class="col-sm-9">
            @(!string.IsNullOrEmpty(Model.NazivTurnira) ? Model.NazivTurnira : "Nema povezanih turnira")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VrednostSponzora)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VrednostSponzora)
        </dd>
    </dl>
</div>

<div class="mt-4">
    @if (ViewBag.IsAdmin)
    {
        <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Nazad na admin stranicu</a>
    }
    </div>
</div>