@model FudbalskiTurnir.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Svi detalji</h1>
<h4>Korisnik</h4>

<div class="container-fluid p-0">

    <div class="text-white-50 fw-light fs-4 mt-2 mb-2">Informacije o nalogu</div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Email</div>
        <div class="col-sm-9">@Model.Email</div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Broj telefona</div>
        <div class="col-sm-9">
            @(string.IsNullOrEmpty(Model.PhoneNumber) ? "Nije unet" : Model.PhoneNumber)
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Uloge</div>
        <div class="col-sm-9">
            @if (Model.Roles != null && Model.Roles.Any())
            {
                @string.Join(", ", Model.Roles)
            }
            else
            {
                <span>Korisnik</span>
            }
        </div>
    </div>

    <div class="text-white-50 fw-light fs-4 mt-4 mb-3">Sigurnost i status</div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Status naloga</div>
        <div class="col-sm-9">
            @(Model.IsActive ? "Aktivan" : "Banovan")
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Email Potvrđen</div>
        <div class="col-sm-9">
            @(Model.EmailConfirmed ? "Da" : "Ne")
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Tel. Potvrđen</div>
        <div class="col-sm-9">
            @(Model.PhoneNumberConfirmed ? "Da" : "Ne")
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary px-4">Nazad na listu</a>
        @if (ViewBag.IsAdmin ?? false)
        {
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Nazad na admin stranicu</a>
        }
    </div>
</div>