@model FudbalskiTurnir.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Korisnik</h4>

<div class="container-fluid p-0">

    <div class="text-muted fw-light fs-4 mt-2 mb-2">Account Info</div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold text-dark">Email</div>
        <div class="col-sm-9 text-secondary">@Model.Email</div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold text-dark">Broj telefona</div>
        <div class="col-sm-9 text-secondary">
            @(string.IsNullOrEmpty(Model.PhoneNumber) ? "Nije unet" : Model.PhoneNumber)
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold text-dark">Uloge</div>
        <div class="col-sm-9 text-secondary">
            @if (Model.Roles != null && Model.Roles.Any())
            {
                @string.Join(", ", Model.Roles)
            }
            else
            {
                <span>Korisnik</span>
            }
        </div>
    </div>

    <div class="text-muted fw-light fs-4 mt-4 mb-3">Security & Status</div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold text-dark">Status naloga</div>
        <div class="col-sm-9 text-secondary">
            @(Model.IsActive ? "Aktivan" : "Banovan")
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold text-dark">Email Potvrđen</div>
        <div class="col-sm-9 text-secondary">
            @(Model.EmailConfirmed ? "Da" : "Ne")
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 fw-bold text-dark">Tel. Potvrđen</div>
        <div class="col-sm-9 text-secondary">
            @(Model.PhoneNumberConfirmed ? "Da" : "Ne")
        </div>
    </div>

    <div class="mt-5">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary px-4">Edit</a>
        <a asp-action="Index" class="btn btn-secondary px-4">Back to List</a>
    </div>
</div>