@model IEnumerable<FudbalskiTurnir.DAL.Models.Turnir>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-1 mt-1">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazivTurnira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumZavrsetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipTurnira)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivTurnira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPocetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumZavrsetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipTurnira)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurnirID" class="btn btn-primary mb-2 mt-2">Edit</a>
                <a asp-action="Details" asp-route-id="@item.TurnirID" class="btn btn-secondary mb-2 mt-2">Details</a>
                <a asp-action="Delete" asp-route-id="@item.TurnirID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
