@model FudbalskiTurnir.ViewModels.UtakmicaViewModel
@{
    ViewData["Title"] = "Detalji";
}

<div class="admin-fade-in">
<h1>Svi detalji</h1>
<div>
    <h4>Utakmica</h4>

    @if (ViewBag.IsAdmin ?? false)
    {
        <h5 class="text-white-50 mt-3 mb-2">Sistemske informacije</h5>
        <dl class="row mb-3">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UtakmicaID)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UtakmicaID)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TurnirID)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TurnirID)</dd>
        </dl>
    }

    <h5 class="text-white-50 mt-3 mb-2">Informacije o meču</h5>
    <dl class="row mb-3">
        @if (!string.IsNullOrEmpty(Model.Grupa))
        {
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Grupa)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Grupa)</dd>
        }

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PrviKlubNaziv)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PrviKlubNaziv)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DrugiKlubNaziv)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DrugiKlubNaziv)</dd>

        <dt class="col-sm-3">Turnir</dt>
        <dd class="col-sm-9">
            @(string.IsNullOrEmpty(Model.NazivTurnira) ? "Nema povezanog turnira" : Model.NazivTurnira)
        </dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Datum)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Datum)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Mesto)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Mesto)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Kolo)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Kolo)</dd>
    </dl>

    <h5 class="text-white-50 mt-3 mb-2">Rezultat</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PrviKlubGolovi)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PrviKlubGolovi)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DrugiKlubGolovi)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DrugiKlubGolovi)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Produzeci)</dt>
        <dd class="col-sm-9">@(Model.Produzeci ? "Da" : "Ne")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Penali)</dt>
        <dd class="col-sm-9">@(Model.Penali ? "Da" : "Ne")</dd>

        @if (Model.Penali)
        {
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PrviKlubPenali)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PrviKlubPenali)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DrugiKlubPenali)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DrugiKlubPenali)</dd>
        }
    </dl>
</div>

<div class="mt-4">
    @if (ViewBag.IsAdmin ?? false)
    {
        <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Nazad na admin stranicu</a>
    }
    </div>
</div>