@model Fudbalski_turnir.Models.Turnir

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turnir</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivTurnira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivTurnira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPocetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPocetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumZavrsetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumZavrsetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipTurnira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipTurnira)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TurnirID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
