@model IEnumerable<FudbalskiTurnir.DAL.Models.Utakmica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-2 mt-2">Create New</a>
</p>
<table id ="utakmiceTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrviKlubNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugiKlubNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrviKlubGolovi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugiKlubGolovi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produzeci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penali)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrviKlubPenali)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugiKlubPenali)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrviKlubNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugiKlubNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrviKlubGolovi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugiKlubGolovi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produzeci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penali)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrviKlubPenali)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugiKlubPenali)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UtakmicaID" class="btn btn-primary mb-2 mt-2">Edit</a>
                <a asp-action="Details" asp-route-id="@item.UtakmicaID" class="btn btn-secondary mb-2 mt-2">Details</a>
                <a asp-action="Delete" asp-route-id="@item.UtakmicaID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $('#utakmiceTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "language": {
                "search": "Filter:",
                "info": "Prikazivanje _START_ do _END_ od _TOTAL_ entiteta",
                "lengthMenu": "Prikažite _MENU_ entiteta",
                "paginate": {
                    "first": "Prva",
                    "last": "Poslednja",
                    "next": "Sledeća",
                    "previous": "Prethodna"
                },
                "zeroRecords": "Nema rezultata"
            }
        });
    </script>
}