@model FudbalskiTurnir.ViewModels.KlubViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Klub</h4>

    @if (ViewBag.IsAdmin ?? false)
    {
        <h5 class="text-muted mt-3 mb-2">System Info</h5>
        <dl class="row mb-3">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.KlubID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.KlubID)
            </dd>

            <dt class="col-sm-3">
                TurnirID
            </dt>
            <dd class="col-sm-9">
                @if (Model.Turniri != null && Model.Turniri.Any())
                {
                    @string.Join(", ", Model.Turniri.Select(t => t.TurnirID))
                }
                else
                {
                    <span class="text-muted">Nema povezanih turnira.</span>
                }
            </dd>
        </dl>
    }

    <h5 class="text-muted mt-3 mb-2">Basic Info</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ImeKluba)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImeKluba)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GodinaOsnivanja)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GodinaOsnivanja)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Stadion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Stadion)
        </dd>
    </dl>

    <h5 class="text-muted mt-3 mb-2">Team Info</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BrojIgraca)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BrojIgraca)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RankingTima)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RankingTima)
        </dd>
        <dt class="col-sm-3">
            Trenutni turnir
        </dt>
        <dd class="col-sm-9">
            @if (Model.Turniri != null && Model.Turniri.Any())
            {
                @string.Join(", ", Model.Turniri.Select(t => t.NazivTurnira))
            }
            else
            {
                <span class="text-muted">Nema povezanih turnira.</span>
            }
        </dd>
    </dl>

    <h5 class="text-muted mt-3 mb-2">Achievements</h5>
    <dl class="row mb-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BrojOsvojenihTitula)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BrojOsvojenihTitula)
        </dd>
    </dl>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    @if (ViewBag.IsAdmin ?? false)
    {
        <a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Back to Admin Page</a>
    }
</div>