@model FudbalskiTurnir.DAL.Models.Klub

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Klub</h4>
    <hr />
    <dl class="row">
        @if (ViewBag.IsAdmin)
        {
            <dt class="col-sm-2">            
                TurnirID
            </dt>
            <dd class="col-sm-10">
                @if (Model.Turniri != null && Model.Turniri.Any())
                {
                        @foreach (var turnir in Model.Turniri)
                        {
                            @turnir.TurnirID
                        }
                }
                else
                {
                    <span>Nema povezanih turnira.</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KlubID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KlubID)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeKluba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeKluba)
        </dd>
        <dt class="col-sm-2">
            Turnir
        </dt>
        <dd class="col-sm-10">
            @if (Model.Turniri != null && Model.Turniri.Any())
            {
                @foreach (var turnir in Model.Turniri)
                {
                    @turnir.NazivTurnira
                }
            }
            else
            {
                <span>Nema povezanih turnira.</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GodinaOsnivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GodinaOsnivanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankingTima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankingTima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojIgraca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojIgraca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stadion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stadion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojOsvojenihTitula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojOsvojenihTitula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<a asp-controller="Admin" asp-action="Index" class="btn btn-dark mb-1 mt-1">Back to Admin Page</a>
